@font-face {
  font-family: "GulliversTravel";
  font-style: normal;
  font-weight: 400;
  src: url("src/data/font/GulliversTravel-Lilliput.woff") format('woff');
}

html {
  font-family: "GulliversTravel";
  font-size: 41px;
}
