@import "../style/mixins.scss";

table {
  width: 100%;
  max-width: 750px;

  @include mobile {
    tr, td {
      display: block;
    }
  }

  tr {
    td:first-child {
        @include desktop {
          width: 40%;
        }
        vertical-align: top;
      }

      td:last-child {
        @include desktop {
          width: 60%;
        }
        padding-bottom: 16px;
      }
  }

  tr:last-child td:last-child {
    padding: 0;
  }
}
