@import "../style/mixins.scss";

.project {
  margin-bottom: 31px;
  padding-top: 5px;

  &:first-child {
    padding-top: 0px;
  }

  &:last-child {
    margin-bottom: 120px;
  }

  .images {
    img {
      display: block;
      max-height: 1000px;
      height: auto;
      max-width: 100%;
    }
  }
  
  @include desktop {
    .images:not(:last-child) {
      img {
        margin-bottom: 5px;
      }
    }
  }
  
  .images.images--two {   
    display: flex;

    @include mobile {
      display: block;
    }

    > div {
      flex: 1;
    }

    > div:first-child {
      @include desktop {
        margin-right: 5px;
      }
    }
  }

  .description {
    @include mobile {
      display: none;
    }
  }
}